<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button color="white" routerLink="/post">Blog</button>
        <span class="space"></span>
        <div *ngIf="auth.afAuth.authState | async as user; else showLogin ">
            <button mat-raised-button color="accent" routerLink="/dasboard">Dashboard</button>
            <button mat-button *ngIf="auth.authenticated" class="author">{{auth.authState.displayName}}</button>
            <button mat-button (click)="auth.Logout()">Logout</button>
        </div>
        <ng-template #showLogin>
            <button mat-button [matMenuTriggerFor]="beforeMenu">Login</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="auth.LoginWithGmail()">Login witth Google</button>
                <button mat-menu-item (click)="openDialog()">Login with Password</button>
            </mat-menu>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>